<div class="foot-div">
<footer class="blog-footer">
<div class="icons-group">
  <span><a href="https://github.com/rtskidmore"><i class="fa-brands fa-github"></i></a></span>
  <span><a href="https://www.linkedin.com/in/russell-skidmore-552267206/"><i class="fa-brands fa-linkedin"></i></a></span>
  <span><a href="https://trailblazer.me/id/rskidmore02"><i class="fa-brands fa-salesforce"></i></a></span>
  <p>&copy Russell Skidmore 2022</p>
</div>
  </footer>
</div>

</body>
</html>